In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

base_path = "raw_data"
end_path = "new_data"
encoder = LabelEncoder()

Preprocessed data:

- Ad dataset: label y pos label 1
- Athlete: label Medal_Gold pos label 1
- Diabetic data: label diabetesMed pos label 1
- ibm: label Attrition pos label 0
- nursery: label y pos label 2
- placement: label status pos label 1
- vaccine: label lowtrustvaccinerec label 0
- us: label dIncome1 3

In [3]:
## Ad dataset

ad = pd.read_csv(f'{base_path}/ad.data', header=None, low_memory=False, na_values='   ?')
ad.rename(columns={1558: 'y'}, inplace=True)
ad = ad.dropna()
ad.replace('?', np.nan, inplace=True)
ad = ad.dropna()
ad['y'] = encoder.fit_transform(ad['y'])
ad.to_csv(f'{end_path}/ad.csv')

In [21]:
# Athlete

athlete = pd.read_csv(f'{base_path}/athlete_events.csv', index_col=0)
athlete.dropna(inplace=True)
athlete.drop(columns=['Name', 'Team', 'Games', 'Event'], inplace=True)
athlete = pd.get_dummies(athlete, dtype=np.int64)
athlete.to_csv(f'{end_path}/athlete.csv')

In [22]:
# Diabetes

diabetes = pd.read_csv(f'{base_path}/diabetes.csv')
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [34]:
# Diabetic data

diabetic = pd.read_csv(f'{base_path}/diabetic_data.csv', na_values='?', index_col=0)
diabetic.drop(columns=['patient_nbr','weight', 'payer_code', 'medical_specialty'], inplace=True)
diabetic.dropna(inplace=True, axis=1)
diabetic['diabetesMed'] = encoder.fit_transform(diabetic['diabetesMed'])
diabetic = pd.get_dummies(diabetic, dtype=np.int64)
diabetic.to_csv(f'{end_path}/diabetic.csv')

C:\Users\giord\AppData\Local\Temp\ipykernel_32880\4206866203.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  diabetic = pd.read_csv(f'{base_path}/diabetic_data.csv', na_values='?', index_col=0)

In [38]:
# ibm

ibm = pd.read_csv(f'{base_path}/ibm.csv')
ibm['Attrition'] = encoder.fit_transform(ibm['Attrition'])
ibm = pd.get_dummies(ibm, dtype=np.int64)
ibm.to_csv(f'{end_path}/ibm.csv')

In [14]:
# nursery

nursery = pd.read_csv(f'{base_path}/nursery.data', header=None)
nursery.rename(columns={8: 'y'}, inplace=True)
nursery['y'] = encoder.fit_transform(nursery['y'])
nursery = pd.get_dummies(nursery, dtype=np.int64)
nursery.to_csv(f'{end_path}/nursery.csv')

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
y    False
dtype: bool

In [17]:
# placement

placement = pd.read_csv(f'{base_path}/Placement_Data_Full_Class.csv', index_col=0)
placement['status'] = encoder.fit_transform(placement['status'])
placement.drop(columns=['salary'], inplace=True)
placement = pd.get_dummies(placement, dtype=np.int64)
placement.to_csv(f'{end_path}/placement.csv')

In [29]:
# vaccine

vaccine = pd.read_excel(f'{base_path}/vaccine.xlxs')
vaccine.dropna(inplace=True)
vaccine.drop(columns=['SND_study', 'SND_dataset', 'SND_version'], inplace=True)
vaccine.set_index('id', inplace=True)
vaccine.to_csv(f'{end_path}/vaccine.csv')

In [42]:
# us census

us = pd.read_csv(f'{base_path}/USCensus1990.data.txt', index_col=0)
us.dropna(inplace=True)
us.drop(columns=['dIncome2', 'dIncome3'], inplace=True)
us.to_csv(f'{end_path}/us.csv')

In [44]:
# wholesale

wholesale = pd.read_csv(f'{base_path}/Wholesale customers data.csv')
wholesale

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52