In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('raw_data/ricci.csv', index_col=0)

In [6]:
data.drop(columns='X', inplace=True)

In [9]:
data = pd.get_dummies(data)

In [11]:
data

,Oral,Written,Combine,Race_B,Race_H,Race_W,Position_Captain,Position_Lieutenant
1,89.52,95,92.808,0,0,1,1,0
2,80.00,95,89.000,0,0,1,1,0
3,82.38,87,85.152,0,0,1,1,0
4,88.57,76,81.028,0,0,1,1,0
5,76.19,84,80.876,0,0,1,1,0
...,...,...,...,...,...,...,...,...
114,40.83,64,54.732,0,1,0,0,1
115,52.08,56,54.432,1,0,0,0,1
116,48.33,58,54.132,0,1,0,0,1
117,52.92,49,50.568,1,0,0,0,1
118,45.83,46,45.932,1,0,0,0,1

In [13]:
data['Combine'] = data['Combine'].apply(lambda x: x >= 60)

In [15]:
data['Combine'] = data['Combine'].astype(int)

In [17]:
data.to_csv('new_data/ricci.csv')